header {
  background-color: red;
}
main {
  .home {
    background-color: lightblue;
  }
  .blog {
    background-color: yellow;
  }
  .about {
    background-color: pink;
  }
}
footer {
  background-color: lightgreen;
}
a {
  text-decoration: none;
  color:#000;
  &:hover {
    color:blue;
  }
}
